#leftside {
    border: solid 5px black
}

#rightside {
    border: solid 5px blue;
    padding-right: auto;
    float: left;
}

.events {
    border: dotted 2px red;
    margin: 5px;
    padding: 5px;
    background-color: #F0EAD6;
}

.container {
    margin-top: 30px;
}