body {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    background-color: #41403f !important;
}

.navbar {
    font-family: 'Anton', sans-serif;
    border-bottom: 4px solid #7395ae;
}

.container {
  margin-top: 50px;
  
}

  .box1{
    background-color: white;
    padding: 10px;
    min-height: 300px;
    border-radius: 25px;
    box-shadow: 1px 2px 1px 0 black;
  }

  .box2{
    background-color: white;
    padding: 10px;
    min-height: 250px;
    border-radius: 25px;
    box-shadow: 1px 2px 1px 0 black;
  }

  .box3{
    background-color: white;
    padding: 10px;
    box-shadow: 1px 2px 1px 0 black;
    border-radius: 5px;
  }

  .footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #1a1a1d;
color: white;
text-align: center;
border: thin;
border-color: white;
}

#projectBrand{
    margin-right: 40%;
}

.text{
    text-align: center;
}

.register-login-text {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

#events-list {
  background-color: rgb(126, 126, 126);
  padding-top: 10px;
  padding-bottom: 10px;
}

.event-titles {
  font-family: 'Anton', sans-serif;
  color: white;
  text-align: center;
  text-decoration: underline;
}

#event-info {
background-color: rgb(126, 126, 126);
}

.anton {
  font-family: 'Anton', sans-serif;
  color: white;
}